<!--
Hengameh Khajehpour
SN# 301122261
Midterm project
Comp 229 Sec009
Fall 2021
-->

<div>
      <h1>Hengameh Khajehpour</h1>
      <img src="/images/myself.jpg" class="img-thumbnail mx-auto d-block" width="250">
      
      <input type="button" style="margin-top:15px; margin-bottom: 15px;"
          onclick="location.href='https://github.com/IamHeny/Midterm';" 
          value="Visit my Github" />

      <input type="button" style="margin-bottom: 15px;"
          onclick="location.href='https://midterm-hengameh.herokuapp.com/';" 
          value="Visit my HeroKu" />

      <input type="button" style="margin-bottom: 15px;"
          onclick="location.href='mailto:hkhajehp@my.centennialcollege.ca';" 
          value="Email Me" />

    </div>
  
  