<!--
Hengameh Khajehpour
SN# 301122261
Midterm project
Comp 229 Sec009
Fall 2021
-->

<div id="text">

  <h1>
        Welcome to Book Store
  </h1>
       
  <input type="button" onclick="location.href='/book/list';" value="Our Book List" />
      
</div>